

.my-search{
    height:30vh;
    width:100%;
    background-color:#81a3e7;
    color:white;
    display: flex;
}
.signature{
    width:40%;
    align-self: center;
    text-align: center;
    padding: 20px;
}
.my-form{
    width:60%;
    display: flex;
    padding: 20px;
}
.my-form > div {
    margin:auto
}
@media only screen and (max-width: 500px) {
    .my-search {
    height: 40vh;
    flex-direction: column;
    }
    
.my-form{
    width:100%
}
.signature{
    width:80%;
    padding: 5px;
  }
  .signature h1{
      font-size:1.8rem;
  }
}
.my-search input{
    background-color:#81a3e7;
    border: 1px solid hsl(219, 46%, 22%);

}
.my-search form{
    height:100%;
}


/*seller card ,home data */

.data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.sellercard{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    height: 70vh;

}


@media only screen and (max-width: 500px) {
    .data {
    flex-direction: column;
    }.sellercard{
        width: 90%;
    
    }
    
}
.sellercard .left{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sellercard .right{
    
    display: flex;
    flex-direction: column;
}
.sellerimage {
    position: relative;
    width: 90%; /* The size you want */
    margin: 20px auto 20px auto;
  }
  .sellerimage:after {
    content: "";
    display: block;
    padding-bottom: 50%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }
  
  .sellerimage img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
  }
  .seemorebtn{
      width: fit-content;
      margin:auto;
      background-color: rgb(115, 202, 33);
  }