.login{

    align-items: center;
    display: flex;
    height: 90vh;
    width: 100%;
    padding-right: 30%;
    justify-content: flex-end;
}
.loginform{
    width: 30%;
    min-width: 200px;
}
.password{
    display: flex;
    flex-direction: column;
}
.forgetpasswordbtn{
    margin-top: -10px;
}
.createaccountbtn{
    margin-top: 5px;
}
.loginbtn{
    width:auto;    
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.errormessage{
    color: red;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media only screen and (max-width: 500px) {
    .loginform {
        margin:auto
    }
    
}